rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{uid} {
      allow read: if uid == request.auth.uid || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level < 6;
      allow create: if false;
      allow update: if resource.data.uid == request.auth.uid || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level == 0;
      allow delete: if resource.data.uid == request.auth.uid || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level == 0;
    }

    match /contact-as/{document=**} {
        allow read : if true;
        allow write : if true;
    }

    match /posts/{document=**}{
        allow read : if true;
        allow write : if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.level == 0;
    }
  }
}